@using Microsoft.AspNetCore.Identity
@using RF_Technologies.Model
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var userId = ViewBag.UserId as string;
}

    @if (SignInManager.IsSignedIn(User))
    {
    <li class="scroll-to-section">
        <a class="" asp-controller="Account" asp-action="UserProfile" asp-route-userId="@userId">My Profile</a>
    </li>
    <li class="scroll-to-section">
        <a class="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>

    }

    else
    {
    <li class="scroll-to-section">
            <a class="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    <li class="scroll-to-section">
            <a class="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }