<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>
                                We Provide <em>Internship On Various</em>
                                <span>Domain</span> For Your Improving Your Skill
                            </h2>
                            <div class="line-dec"></div>
                            <p>We have an Different Domain of Internship that will Help out in Learning the Industry Level Work</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/assets/images/services-01.jpg" alt="discover SEO" class="templatemo-feature">
                            </div>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/assets/images/services-02.jpg" alt="data analysis" class="templatemo-feature">
                            </div>
                            <h4>Frontend Developer</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/assets/images/services-03.jpg" alt="precise data" class="templatemo-feature">
                            </div>
                            <h4>Backend Developer</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/assets/images/services-04.jpg" alt="SEO marketing" class="templatemo-feature">
                            </div>
                            <h4>App Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="infos section" id="infos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left-image">
                                <img src="assets/images/left-infos.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2>More <em>About Us</em> &amp; What <span>We Offer</span></h2>
                                <div class="line-dec"></div>
                                <p>
                                    Our mission is to empower you with the tools and support necessary to thrive in a competitive market. Whether you need robust software solutions, mobile applications, or expert technological guidance, our dedicated team is here to help you achieve your goals.
                                </p>
                            </div>
                            <div class="skills">
                                <div class="skill-slide marketing">
                                    <div class="fill"></div>
                                    <h6>Website Development</h6>
                                    <span>90%</span>
                                </div>
                                <div class="skill-slide digital">
                                    <div class="fill"></div>
                                    <h6>Mobile Application</h6>
                                    <span>80%</span>
                                </div>
                                <div class="skill-slide media">
                                    <div class="fill"></div>
                                    <h6>CRM Solutions</h6>
                                    <span>95%</span>
                                </div>
                            </div>
                            <p class="more-info">
                                At RF Technologies, we understand the challenges you face and are committed to transforming your business vision into reality. Let's build a brighter future together!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="internship section" id="internship">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left-image">
                                <img src="~/assets/images/projects-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2>Internship <em>Program</em> &amp; How to <span>Apply</span></h2>
                                <div class="line-dec"></div>
                                <p>
                                    We are excited to offer a comprehensive internship program designed to provide hands-on experience in the tech industry. Our internship program covers various domains such as software development, mobile applications, and CRM solutions. This is a perfect opportunity to enhance your skills and work alongside industry experts.
                                </p>
                            </div>
                            <p class="more-info">
                                Join us as an intern and kickstart your career in technology. To apply, please visit the link below and fill out the application form.
                            </p>
                            <div class="apply-button">
                                <a asp-controller="Student" asp-action="StudentRegistration" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
