@model IEnumerable<ApplicationUser>

<div class="w-100 card border-0 p-4" style="margin-top: 7rem;">
    <div class="card-header" style="background-color: #4154f1; margin-left: 0; padding-top: 1rem; padding-bottom: 1rem;">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Registered User List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Created At</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}