@model BlogVM

@{
    ViewData["Title"] = "Create Blog Post";
}

<div class="container" style="margin-top: 7rem;">
    <h1 class="mb-4">Create Blog Post</h1>

    <form method="post" asp-action="Create" enctype="multipart/form-data">

        <div class="mb-3">
            <label asp-for="BlogPost.Title" class="form-label">Title</label>
            <input asp-for="BlogPost.Title" class="form-control" type="text" name="BlogPost.Title" />
        </div>

        <div class="mb-3">
            <label asp-for="BlogPost.ShortDescription" class="form-label">Title</label>
            <input asp-for="BlogPost.ShortDescription" class="form-control" type="text" name="BlogPost.ShortDescription" />
        </div>

        <div class="mb-3">
            <label asp-for="BlogPost.Content" class="form-label">Content</label>
            <textarea asp-for="BlogPost.Content" class="form-control" name="BlogPost.Content" rows="5"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="BlogPost.Category" class="form-label">Category</label>
            <input asp-for="BlogPost.Category" class="form-control" type="text" name="BlogPost.Category" />
        </div>

        <div class="mb-3">
            <label asp-for="BlogPost.Tags" class="form-label">Tags</label>
            <input asp-for="BlogPost.Tags" class="form-control" type="text" name="BlogPost.Tags" />
        </div>

        <div class="mb-3">
            <label asp-for="BlogPost.Image" class="form-label">Blog Thumbnail</label>
            <input asp-for="BlogPost.Image" class="form-control" type="file" name="BlogPost.Image" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
