@using RF_Technologies.Utility
@model RegistrationForm

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Registration</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ID" hidden />

            <div class="col-10">
                <div class="p-3">
                    <div asp-validation-summary="All"></div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Name" class="form-control border shadow" />
                        <label asp-for="Name" class="ms-2"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Email" class="form-control border shadow" />
                        <label asp-for="Email" class="ms-2"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ContactNo" class="form-control border shadow" />
                        <label asp-for="ContactNo" class="ms-2"></label>
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Domain" class="form-control border shadow" />
                        <label asp-for="Domain" class="ms-2"></label>
                        <span asp-validation-for="Domain" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="CollegeName" class="form-control border shadow" />
                        <label asp-for="CollegeName" class="ms-2"></label>
                        <span asp-validation-for="CollegeName" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Skill" class="form-control border shadow" />
                        <label asp-for="Skill" class="ms-2"></label>
                        <span asp-validation-for="Skill" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Education" class="form-control border shadow" />
                        <label asp-for="Education" class="ms-2"></label>
                        <span asp-validation-for="Education" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="StartDate" type="date" class="form-control border shadow" />
                        <label asp-for="StartDate" class="ms-2"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="EndDate" type="date" class="form-control border shadow" />
                        <label asp-for="EndDate" class="ms-2"></label>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="DateOfBirth" class="form-control border shadow" />
                        <label asp-for="DateOfBirth" class="ms-2"></label>
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="GitHub" class="form-control border shadow" />
                        <label asp-for="GitHub" class="ms-2"></label>
                        <span asp-validation-for="GitHub" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Linkedin" class="form-control border shadow" />
                        <label asp-for="Linkedin" class="ms-2"></label>
                        <span asp-validation-for="Linkedin" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Status" class="form-control border shadow" />
                        <label asp-for="Status" class="ms-2"></label>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    @if(Model.Status == SD.StatusApproved)
                    {
                        <form method="post">
                            <div class="row pt-1 mb-3" style="border-radius:20px;">
                                <div class="col-12 text-center">
                                    <button asp-action="GenerateOfferLetter" asp-route-id="@Model.ID" asp-route-downloaadType="word" type="submit"
                                            class="btn btn-sm btn-secondary my-1">
                                        <i class="bi bi-file-earmark-word"></i> Generate Offer Letter (word)
                                    </button>

                                    <button asp-action="GenerateOfferLetter" asp-route-id="@Model.ID" asp-route-downloaadType="pdf" type="submit"
                                            class="btn btn-sm btn-secondary my-1">
                                        <i class="bi bi-file-earmark-pdf"></i> Generate Offer Letter (pdf)
                                    </button>

                                </div>
                            </div>
                        </form>
                    }
                    
                    <div class="row pt-2">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            @if (Model.Status == SD.StatusPending)
                            {
                                <div class="col-6 col-md-3">
                                    <button type="submit" asp-controller="Student" asp-action="Approve" class="btn btn-success w-100">
                                        <i class="bi bi-check-circle"></i> Approve
                                    </button>
                                </div>
                            }

                        }
                        @if(User.IsInRole(SD.Role_Student)){
                            @if (Model.Status == SD.StatusApproved)
                            {
                            <div class="col-6 col-md-3">
                                    <button type="submit" asp-controller="Student" asp-action="CheckIn" class="btn btn-warning form-control my-1">
                                    <i class="bi bi-check2-square"></i>
                                    &nbsp; Check In
                                </button>
                                </div>
                            }
                        }
                        <div class="col-6 col-md-3">
                            <a asp-controller="Student" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

