@model InternshipSubmit

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Registration</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ID" hidden />

            <div class="col-10">
                <div class="p-3">
                    <div asp-validation-summary="All"></div>
                    <div class="form-floating py-1 col-12">
                        <input disabled asp-for="RegistrationForm.Name" class="form-control border shadow" />
                        <label asp-for="RegistrationForm.Name" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input disabled asp-for="RegistrationForm.Email" class="form-control border shadow" />
                        <label asp-for="RegistrationForm.Email" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input disabled asp-for="RegistrationForm.Domain" class="form-control border shadow" />
                        <label asp-for="RegistrationForm.Domain" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="LinkedinLink1" class="form-control border shadow" />
                        <label class="ms-2">Minor Task 1 Linkedin Link</label>
                        <span asp-validation-for="LinkedinLink1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="GitHubLink1" class="form-control border shadow" />
                        <label class="ms-2">Minor Task 1 GitHub Link</label>
                        <span asp-validation-for="GitHubLink1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="LinkedinLink2" class="form-control border shadow" />
                        <label class="ms-2">Minor Task 2 Linkedin Link</label>
                        <span asp-validation-for="LinkedinLink2" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="GitHubLink2" class="form-control border shadow" />
                        <label class="ms-2">Minor Task 2 GitHub Link</label>
                        <span asp-validation-for="GitHubLink2" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="LinkedinLink3" class="form-control border shadow" />
                        <label class="ms-2">Major Task 1 Linkedin Link</label>
                        <span asp-validation-for="LinkedinLink3" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="GitHubLink3" class="form-control border shadow" />
                        <label class="ms-2">Major Task 1 GitHub Link</label>
                        <span asp-validation-for="GitHubLink3" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Image" class="form-control border shadow" />
                        <input asp-for="PaymentScreenShot" hidden class="form-control border shadow" />
                        <label class="ms-2">Payment Screen Shot Upload</label>
                    </div>
                    <div class="row pt-2">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            @if (Model.RegistrationForm.Status == SD.StatusInternshipSubmited)
                            {
                                <div class="col-6 col-md-3">
                                    <button type="submit" asp-controller="Student" asp-action="InternshipComplete" class="btn btn-success w-100">
                                        <i class="bi bi-check-circle"></i> Compelete
                                    </button>
                                </div>
                            }

                        }
                        @if (User.IsInRole(SD.Role_Student))
                        {
                            @if (Model.RegistrationForm.Status == SD.StatusCheckedIn)
                            {
                                <div class="col-6 col-md-3">
                                    <button type="submit" asp-controller="Student" asp-action="SubmitInternship" class="btn btn-warning form-control my-1">
                                        <i class="bi bi-check2-square"></i>
                                        &nbsp; Submit
                                    </button>
                                </div>
                            }
                        }
                        <div class="col-6 col-md-3">
                            <a asp-controller="Student" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

