@{
    ViewData["Title"] = "Email Confirmation Required";
}

<div class="container pt-4" style="margin-top: 7rem;">
    <div class="col-12 text-center">
        <h1 class="text-danger text-center">Email Confirmation Required!</h1>
        <br />
        <p> Thank you for registering. An email has been sent to your email address. Please confirm your email to complete the registration.</p>
        <img src="~/assets/img/thanks.jpg" style="border-radius:20px" width="30%" />
    </div>
</div>
