@{
    ViewData["Title"] = "Email Confirmed";
}

<h2>@ViewData["Title"]</h2>

<div class="container pt-4" style="margin-top: 7rem;">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Email Has Been Verified!</h1>
        <br />
        <p>Thank you for registering. Your email has been confirmed, and your account has been activated.</p>
        <p><a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login Page</a></p>
        <img src="https://images.unsplash.com/photo-1556742043-1b93f6ecac7c" style="border-radius:20px" width="30%" alt="Thank You" />
    </div>
</div>
