@model ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>@ViewData["Title"]</h2>



<div class="container pt-4" style="margin-top: 7rem;">
    <div class="col-12 text-center">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
        </form>
    </div>
</div>
