@using RF_Technologies.Model.VM
@model LoginVM

<div class="container pt-5">
    <div class="card shadow border" style="margin-top: 7rem;">
        <div class="card-header" style="background-color: #4154f1;">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Login</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form method="post">
                            <input asp-for="RedirectUrl" hidden />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (!string.IsNullOrEmpty(Model.LockoutMessage))
                            {
                                <div class="alert alert-danger">
                                    @Model.LockoutMessage
                                </div>
                            }
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" aria-required="true" />
                                <label asp-for="Email" class="form-label">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" aria-required="true" />
                                <label asp-for="Password" class="form-label">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-check mb-3">
                                <input asp-for="RemeberMe" class="form-check-input" id="rememberMe" />
                                <label asp-for="RemeberMe" class="form-check-label" for="rememberMe">
                                    Remember Me
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="w-100 btn btn-lg btn-outline-success">Log in</button>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                                <p>
                                    <a asp-action="ForgotPassword" asp-controller="Account" class="text-decoration-none text-muted">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-action="Register" asp-route-returnUrl="@Model.RedirectUrl" class="text-decoration-none text-muted">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!-- Additional Styles -->
<style>
    .btn-outline-success:hover {
        background-color: #4154f1;
        border-color: #4154f1;
        color: #ffffff;
    }
</style>
