@{
    ViewData["Title"] = "Reset Password Confirmation";
}


<div class="container pt-4" style="margin-top: 7rem;">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Your password has been reset successfully!</h1>
        <br />
        <p> You can now with your new password.</p>
        <p><a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login Page</a></p>
        <img src="https://images.unsplash.com/photo-1556742043-1b93f6ecac7c" style="border-radius:20px" width="30%" alt="Thank You" />
    </div>
</div>