@model ApplicationUser

<style>
    body {
        background: rgb(99, 39, 120);
        margin-top: 7rem;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8;
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none;
    }

        .profile-button:hover {
            background: #682773;
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none;
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none;
        }

    .back:hover {
        color: #682773;
        cursor: pointer;
    }

    .labels {
        font-size: 11px;
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8;
    }

    .file-upload {
        display: none;
    }

    .upload-button {
        cursor: pointer;
        color: #682773;
        margin-top: -30px;
        margin-left: 120px;
    }
</style>

<div class="container rounded bg-white mt-5 mb-5">
    <form asp-action="UserProfile" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="@Model.ProfilePicture" />
                    <span class="font-weight-bold">@Model.Name</span>
                    <span class="text-black-50">@Model.Email</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="first name" asp-for="Name" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label asp-for="ProfilePicture" class="labels">Profile Picture</label>
                            <input type="file" asp-for="Image" class="form-control" />
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="tel" class="form-control" placeholder="enter phone number" asp-for="PhoneNumber" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Bio</label>
                            <textarea class="form-control" placeholder="Enter Details about Yourself" asp-for="Bio"></textarea>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}